:root {
  --background: #0b0b0b;
  --text-primary: #ffffff;
  --text-muted: #656565;
  --font-family: 'Source Code Pro', monospace;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin: 30px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


html * {
  transition: all 0.2s;
}


h1 {
  font-size: xxx-large;
  margin: 0;
  align-items: center;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-family);
  margin: 0;
}

.bold {
  font-weight: 700;
}

.muted {
  color: var(--text-muted);
}

.spin {
  animation: spin 10s infinite linear;
}

.pause-spin {
  animation-play-state: paused;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -o-animation-play-state: paused;
  filter: grayscale(100%);
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

a:hover {
  text-decoration: underline solid var(--text-primary) 2px;
}

.btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out;
}

.sign-in {
  background: limegreen;
  border: none;
  padding: 0.5em;
  margin: 10px 2px;
  border-radius: 6px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.card-body {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1.25rem;
  border: 2px solid #FFF;
  border-radius: 0.5rem;
}

.card-text {
  margin-top: 0;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 3rem);
}

#status {
  color: var(--text-muted);
  margin-bottom: 25px;
}

#title {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 20px;
}

#title:hover {
  text-decoration: underline solid var(--text-primary) 4px;
}

.progress {
  width: 100%;
  background-color: var(--background);
  margin: 0px;
  position: fixed;
  bottom: 0px;
}

.playlist {
  border-radius: 25px;
  border: solid #FFF;
  border-width: 2px;
  padding: 10px 10em 40px 20px;
}

.ptitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
  border: white;
  border-radius: 5px;
}
.progressBar {
  width: 0%;
  height: 3px;
  background-color: red;
  transition: width 0ms;
}
.small_icon {
  padding-left: 10px;
  width: 35px;
}
.track-info {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#album-art {
  width: 215px;
  height: 215px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

#album-art:hover {
  animation-play-state: paused;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -o-animation-play-state: paused;
}

.title_container{
  max-width: fit-content;
  width: auto;
  margin: auto;
}

.footer {
  position: fixed;
  text-align: center;
  padding: 1rem 0;
  color: var(--text-muted);
  margin: 0 auto;
  bottom: 0;
  width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
